1. Fundamental Python Data Types:
-int are used to do mathematical operations
why do we need distinction between integer and float?
because float gets more space from the memory and sometimes we need floating results
-float are used to do mathematical operations
-str
-bool
-list
-tuple
-set
-dict
-None mean nothing

In [2]:
2+4

6

In [3]:
# we can learn what data type data is use type() function
type(2+3)

int

In [4]:
2/4

0.5

In [5]:
type(2/4)

float

In [6]:
2//4 # we get integer part of the float

0

In [7]:
type(2//4)

int

In [8]:
2+4.5

6.5

In [9]:
int(2+4.5)

6

In [10]:
float(2-3)

-1.0

In [11]:
# some mathematical operations:
2*39.67

79.34

In [12]:
#this means power of something
2**4

16

In [13]:
2**39.5

777472127993.8688

In [14]:
# we use modula to find the remainder of a division
1999 % 5

4

#Some math functions:function makes data types in action

In [17]:
print(round(3.1))
print(round(3.9))
print(round(3.392032, 3))
round

3
4
3.392

In [18]:
# abs() returns absolute value of a number
abs(-99)

99

In [2]:
bin(2) # return bibary representation of a number

'0b10'

In [6]:
int('0b10',2) # return any base number into a 10 base integer

2

In [4]:
complex(2.1) # return a complex number

(2.1+0j)

In [21]:
import math
math.exp(2)

7.38905609893065

In [24]:
# Do not memorize everything because we will learn them by using them

True

In [ ]:
math.sqrt(64)

3. Strings:

3.1. Formatted Strings:

In [18]:
name="Ole"
age=18
print("Hello"+" "+ name+ ".Are you" +" "+str(age)+" "+ "years old?")

Hello Ole.Are you 18 years old?

In [19]:
print(f"Hello {name}. Are you {age} years old?")

Hello Ole. Are you 18 years old?

In [20]:
print("Hello {}. Are you {} years old".format(name,age))

Hello Ole. Are you 18 years old

In [26]:
print("Hello %s" %name)

Hello Ole

3.1. String Index:

In [45]:
name="Maria Monsen"
name[:3]

'Mar'

In [46]:
name[0]

'M'

In [47]:
#str[start:stop: step]
name[::]

'Maria Monsen'

In [49]:
name[1:6:2]

'ai '

In [50]:

name[::-1]

'nesnoM airaM'

In [51]:
name[-1:-8:-2]

'nso '

In [40]:
name[::-2]

'nso ia '

In [52]:
#Strings are immutable, we can not change the values via assigning new index bali
name[0]="S"

TypeError: 'str' object does not support item assignment

In [ ]:
# We have to reassign values into the string if we want to change it or we have to redefine it.

3.2. String Methods:

In [54]:
quote="to be or not to be "
quote.upper()

'TO BE OR NOT TO BE '

In [55]:
quote.capitalize()

'To be or not to be '

In [57]:
quote.endswith("e")

False

In [60]:
quote.startswith("t")

True

In [61]:
quote.find("o")

1

In [63]:
quote=quote.replace("be","me")
quote

'to me or not to me '

In [64]:
quote.index("n")

9

In [67]:
quote.isnumeric()

False

In [72]:
"hello world".isalpha()

False

In [76]:
# Lets make a password checker:
name=input("Enter name :")
password=input("Enter password :")
hidden_password= "*"*len(password)
print(f"Hello {name}. Your password is {hidden_password} long length.")

Enter name :abraham
Enter password :aøkfldnjsalflmalksndøfdø
Hello abraham. Your password is ************************ long length.

4.Lists:

In [1]:
# A list is a data structure
# data structure is a way to organize data 
amazon_card=["Notebooks","Sunglasses","TVs"]
amazon_card[0]

'Notebooks'

In [2]:
#List Slicing:
amazon_card[:]

['Notebooks', 'Sunglasses', 'TVs']

In [3]:
amazon_card[::-1]

['TVs', 'Sunglasses', 'Notebooks']

In [5]:
#Lists a mutable
amazon_card[0]="laptop"
amazon_card

['laptop', 'Sunglasses', 'TVs']

4.1. List Methods:

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the first item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

In [6]:
amazon_card.append("radios")
amazon_card

['laptop', 'Sunglasses', 'TVs', 'radios']

In [7]:
amazon_card.insert(1, "shoes")
amazon_card

['laptop', 'shoes', 'Sunglasses', 'TVs', 'radios']

In [10]:
#These methods just modifies the list, they do not create a new one
new_list=amazon_card.append("mobiles")
print(new_list)

None

In [11]:
amazon_card

['laptop',
 'shoes',
 'Sunglasses',
 'TVs',
 'radios',
 'mobiles',
 'mobiles',
 'mobiles']

In [12]:
amazon_card.extend(["animals","numbers"])
amazon_card

['laptop',
 'shoes',
 'Sunglasses',
 'TVs',
 'radios',
 'mobiles',
 'mobiles',
 'mobiles',
 'animals',
 'numbers']

In [14]:
amazon_card.remove("numbers")
amazon_card

['laptop',
 'shoes',
 'Sunglasses',
 'TVs',
 'radios',
 'mobiles',
 'mobiles',
 'mobiles',
 'animals']

In [16]:
amazon_card.pop()
amazon_card

['laptop', 'shoes', 'Sunglasses', 'TVs', 'radios', 'mobiles', 'mobiles']

In [17]:
amazon_card.pop(5)
amazon_card

['laptop', 'shoes', 'Sunglasses', 'TVs', 'radios', 'mobiles']

In [19]:
amazon_card.index("TVs", 0, 2)

ValueError: 'TVs' is not in list

In [21]:
"animals" in amazon_card

False

In [24]:
amazon_card.append("mobiles")
amazon_card.count("mobiles")

2

In [29]:
amazon_card.sort()
amazon_card

['Sunglasses', 'TVs', 'laptop', 'mobiles', 'mobiles', 'radios', 'shoes']

In [30]:
amazon_card

['Sunglasses', 'TVs', 'laptop', 'mobiles', 'mobiles', 'radios', 'shoes']

In [38]:
#range() function with
list(range(10,101, 5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [42]:
# Transforming  alist into a string and vice versa
"*".join(amazon_card)

'Sunglasses*TVs*laptop*mobiles*mobiles*radios*shoes'

In [43]:
amazon=" ".join(amazon_card)
amazon

'Sunglasses TVs laptop mobiles mobiles radios shoes'

In [46]:
lst=amazon.split()
lst

['Sunglasses', 'TVs', 'laptop', 'mobiles', 'mobiles', 'radios', 'shoes']

4.1. List Unpacking:

In [53]:
a,b,*others,c=amazon_card
print(a)
print(b)
print(others)

Sunglasses
TVs
['laptop', 'mobiles', 'mobiles', 'radios']

2. Specialized Data Types

These are important from libraries 
, these are extensions we can add from modules

TypeError: unsupported operand type(s) for +: 'int' and 'str'